---
// src/layouts/BlogLayout.astro
import Layout from './Layout.astro';
import Header from '../components/Header.astro';
import TableOfContents from '../components/blog/TableOfContents';

const { title, sections } = Astro.props;
---

<Layout title={title}>
  <Header />

  <div class="mx-auto max-w-7xl px-6 pt-24 pb-16 lg:px-8 lg:pt-32">
    <div class="flex flex-col gap-12 lg:flex-row lg:items-start">
      <aside class="sticky top-32 hidden w-64 shrink-0 lg:block lg:max-h-[calc(100vh-8rem)]">
        <TableOfContents client:load sections={sections} />
      </aside>

      <div class="lg:hidden">
        <TableOfContents client:load sections={sections} />
      </div>

      <main class="min-w-0 flex-1">
        <article class="max-w-3xl prose prose-slate prose-headings:scroll-mt-28">
          <slot />
        </article>
      </main>
    </div>
  </div>
</Layout>